@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 375px;
}

.container {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 30px;
}

.container--small {
  max-width: 1200px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gradient-purp {
  background: url(../img/h-small.svg) no-repeat center top, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-size: 523px 600px, cover;
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.gradient-purp::after {
  content: '';
  height: 10px;
  background-color: #CACADB;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  border-radius: 0px 0px 12px 12px;
}

.gradient-purp::before {
  content: '';
  height: 10px;
  background-color: #E7E7F2;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  border-radius: 0px 0px 12px 12px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .gradient-purp {
    background-size: 893px 1024px, cover;
  }
}

@media (min-width: 992px) {
  .gradient-purp {
    background-size: 669px 768px, cover;
  }
}

@media (min-width: 1440px) {
  .gradient-purp {
    background-size: 697px 799px, cover;
  }
}

.about {
  padding-top: 26px;
  padding-bottom: 60px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: none;
  text-decoration: none;
}

.about__title:last-child {
  padding-top: 30px;
}

.about__text {
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
}

.about__text--pp19 {
  padding-top: 19px;
}

.about__text--pp20 {
  padding-top: 20px;
}

.about__stat {
  border-left: 4px solid #E6E6F0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about__article {
  padding-left: 30px;
  padding-top: 40px;
}

.about__article:first-child {
  padding-top: 0;
}

.about__words {
  padding-top: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  text-transform: none;
  text-decoration: none;
}

.about__team {
  margin: 0 -30px;
  background-image: url(../img/team.png);
  background-color: #a489b2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 114px;
}

.about__people {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 13px;
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .about {
    padding-top: 60px;
  }
  .about__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: none;
    text-decoration: none;
  }
  .about__team {
    margin: 0 -60px;
  }
  .about__block {
    height: 234px;
  }
  .about__stat {
    margin-bottom: 60px;
  }
  .about__block {
    margin-bottom: 30px;
  }
  .about__people {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    text-decoration: none;
    padding-left: 62px;
  }
}

@media (min-width: 992px) {
  .about__box {
    display: grid;
    grid-template-columns: 1fr 388px;
    grid-template-rows: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__box--bot {
    grid-template-columns: 1fr 362px;
  }
  .about__block {
    height: 312px;
    margin-top: 59px;
    margin-bottom: 32px;
  }
  .about__people {
    font-weight: 700;
    font-size: 86px;
    line-height: 105px;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  }
  .about__stat {
    margin-top: 0;
    margin-bottom: 0;
    width: 388px;
  }
  .about__info {
    margin-right: 30px;
  }
  .about__text {
    padding-top: 29px;
  }
  .about__text--pp19 {
    padding-top: 19px;
  }
  .about__text--pp20 {
    padding-top: 20px;
  }
  .about__text--mr {
    margin-right: 61px;
  }
  .about__title:last-child {
    padding-top: 29px;
  }
}

@media (min-width: 1440px) {
  .about__block {
    height: 438px;
  }
  .about__people {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    padding-top: 5px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2.0833333333333335), (min-resolution: 200dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .about__team {
    background-image: url(../img/team@2x.png);
  }
}

.achievements {
  background: #F5F5FA;
  padding-bottom: 30px;
}

.achievements__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #323264;
  padding-top: 30px;
}

.achievements__box {
  margin: 27px;
}

.achievements__slider {
  background: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.achievements__slider--tablet {
  display: none;
}

.achievements__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievements__btn {
  margin-left: 6px;
  margin-right: 7px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.achievements__btn svg {
  display: block;
}

.achievements__btn svg:hover circle {
  opacity: 0.6;
}

.achievements__btn.current svg circle {
  opacity: 1;
}

@media (min-width: 768px) {
  .achievements__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 26px;
    margin-left: 0;
    margin-right: 0;
  }
  .achievements__slider {
    width: 25%;
  }
  .achievements__slider--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }
  .achievements__btn--tablet {
    display: none;
  }
}

.footer {
  background-color: #F5F5FA;
}

.footer__box {
  border-top: 2px solid #E6E6F0;
  padding-top: 31px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}

.footer__map {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
  margin-top: 10px;
  margin-bottom: 21px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: normal;
}

.footer__fb {
  text-align: center;
  margin-bottom: 10px;
}

.footer__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #46466E;
}

.footer__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.footer__mail:hover {
  color: #F0145A;
}

.footer__year {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #B3B3BA;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer__icon:hover path {
  fill: #F0145A;
}

@media (min-width: 768px) {
  .footer__location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 21px;
  }
  .footer__map {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 26px;
    position: relative;
  }
  .footer__map::before {
    content: '';
    background-image: url(../img/dot.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    position: absolute;
    left: -15px;
    top: 4px;
    width: 6px;
    height: 6px;
  }
  .footer__fb {
    margin-bottom: 0;
  }
  .footer__tel {
    margin-left: 26px;
    margin-right: 26px;
    position: relative;
  }
  .footer__tel::before {
    content: '';
    background-image: url(../img/dot.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    position: absolute;
    left: -15px;
    top: 5px;
    width: 6px;
    height: 6px;
  }
  .footer__tel::after {
    content: '';
    background-image: url(../img/dot.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    position: absolute;
    right: -15px;
    top: 5px;
    width: 6px;
    height: 6px;
  }
  .footer__mail {
    margin-top: 0;
  }
  .footer__box {
    padding-top: 30px;
  }
  .footer__box--home {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 31px;
  }
  .footer__year--home {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__contact--home {
    margin-bottom: 30px;
    grid-column: 1 / 3;
  }
  .footer__map--home {
    margin-left: 23px;
  }
}

@media (min-width: 992px) {
  .footer__box {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__year {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__contact {
    margin-bottom: 30px;
    grid-column: 1 / 3;
  }
  .footer__map {
    margin-left: 23px;
  }
}

.better {
  padding-top: 30px;
  padding-bottom: 60px;
}

.better__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.better__box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
}

.better__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}

.better__link:hover {
  font-size: 50px;
  color: #FFFFFF;
}

.better__link:hover svg path {
  stroke: #FFFFFF;
}

.better__link:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.better__arrow {
  margin-left: 2px;
}

.better__arrow svg {
  display: block;
}

.better__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: none;
  text-decoration: none;
  padding-top: 10px;
}

.better__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.better__item {
  padding-top: 30px;
}

.better__img {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.better__img--it {
  background-image: url(../img/better-it.svg);
}

.better__img--comp {
  background-image: url(../img/better-comp.svg);
}

.better__img--struct {
  background-image: url(../img/better-struct.svg);
}

.better__img--build {
  background-image: url(../img/better-build.svg);
}

.better__img--prot {
  background-image: url(../img/better-prot.svg);
}

.better__img--judic {
  background-image: url(../img/better-judic.svg);
}

.better__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
}

.better__text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .better {
    padding-top: 60px;
  }
  .better__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .better__item {
    padding-top: 60px;
    width: 50%;
  }
  .better__item:nth-child(2n) {
    padding-left: 30px;
  }
  .better__item:nth-child(2n-1) {
    padding-right: 30px;
  }
  .better__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: none;
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .better {
    padding-top: 60px;
  }
  .better__item {
    width: 33.333%;
  }
  .better__item:nth-child(3n) {
    padding-left: 40px;
    padding-right: 0;
  }
  .better__item:nth-child(3n-1) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .better__item:nth-child(3n-2) {
    padding-right: 40px;
    padding-left: 0;
  }
}

.trust {
  padding-top: 60px;
}

.trust__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #323264;
  text-align: center;
  padding-bottom: 30px;
}

.trust__list {
  margin: 0 -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trust__item {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trust__color {
  background: transparent;
}

.trust__color--blue {
  background: #1C4280;
}

.trust__color--blue-dark {
  background: #143646;
}

.trust__color--tap {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.trust__color--look {
  background: #9E4DC3;
}

.trust__color--orang {
  background: #FD9339;
}

.trust__color--adtel {
  background: #E2E2E4;
}

.trust__color--click {
  background: #C71C36;
}

.trust__color--eco {
  background: #DCF3F9;
}

.trust__color--inf {
  background: #EAEAEA;
}

.trust__color--city {
  background: #282240;
}

.trust__color--art {
  background: #1D4568;
}

.trust__color--ult {
  background: #000000;
}

.trust__mob {
  display: none;
}

@media (min-width: 768px) {
  .trust {
    padding-top: 61px;
  }
  .trust__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -60px;
  }
  .trust__item {
    width: 33.3333%;
  }
  .trust__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trust__title {
    padding-bottom: 29px;
  }
}

@media (min-width: 992px) {
  .trust {
    padding-top: 61px;
  }
  .trust__item {
    width: 25%;
  }
}

.tell {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F5FA;
}

.tell__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tell__box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
}

.tell__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}

.tell__link:hover {
  font-size: 50px;
  color: #000000;
}

.tell__link:hover svg path {
  stroke: #000000;
}

.tell__link:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tell__arrow {
  margin-left: 2px;
}

.tell__arrow svg {
  display: block;
}

.tell__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: none;
  text-decoration: none;
  padding-top: 5px;
}

.tell__list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
}

.tell__item {
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 30px;
}

.tell__item:last-child {
  margin-top: 32px;
}

.tell__img {
  border-radius: 8px 8px 0px 0px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.tell__img--hands {
  background-image: url(../img/tell-hands.png);
}

.tell__img--gdr {
  background-image: url(../img/tell-gdr.png);
}

.tell__img--people {
  background-image: url(../img/tell-people.png);
}

.tell__info {
  padding: 30px;
}

.tell__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-transform: none;
  text-decoration: none;
}

.tell__year {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 4px solid #E6E6F0;
}

.tell__text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .tell__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .tell__item {
    margin-top: 29px;
  }
  .tell__item:nth-child(1) {
    margin-right: 15px;
  }
  .tell__item:nth-child(2) {
    margin-left: 15px;
  }
  .tell__item:nth-child(3) {
    grid-column: span 2;
  }
  .tell__item:last-child {
    margin-top: 30px;
  }
  .tell__title {
    font-size: 38px;
    line-height: 46px;
    padding-top: 11px;
  }
  .tell__name {
    padding-top: 1px;
  }
}

@media (min-width: 992px) {
  .tell {
    padding-top: 30px;
  }
  .tell__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .tell__item {
    margin-top: 29px;
  }
  .tell__item:last-child {
    margin-top: 30px;
  }
  .tell__item:nth-child(1) {
    margin-right: 20px;
  }
  .tell__item:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .tell__item:nth-child(3) {
    margin-left: 20px;
    grid-column: span 1;
  }
  .tell__item:last-child {
    margin-top: 29px;
  }
}

.provider {
  padding-top: 126px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.provider__text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 158px;
}

.provider__link {
  text-align: center;
}

.provider__link svg {
  display: block;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.provider__link svg:hover {
  width: 84px;
  height: 84px;
}

.provider__link svg:hover path {
  stroke: #F0145A;
}

.provider__link svg:hover circle {
  stroke: #F0145A;
}

@media (min-width: 768px) {
  .provider {
    padding-top: 269px;
  }
  .provider__text {
    padding-bottom: 417px;
  }
}

@media (min-width: 992px) {
  .provider {
    padding-top: 245px;
  }
  .provider__text {
    padding-bottom: 289px;
  }
}

@media (min-width: 1440px) {
  .provider {
    padding-top: 261px;
  }
  .provider__text {
    padding-bottom: 305px;
  }
}

@-webkit-keyframes load {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.oriented {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.oriented__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  overflow: auto;
  margin-bottom: 30px;
}

.oriented__info {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}

.oriented__btn {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 30px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
}

.oriented__btn:hover {
  color: rgba(240, 20, 90, 0.5);
}

.oriented__btn.current {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.oriented__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
}

.oriented__text {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .oriented {
    padding-top: 60px;
  }
  .oriented__buttons {
    margin-right: -60px;
    margin-bottom: 60px;
  }
  .oriented__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 60px;
  }
  .oriented__btn {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #B3B3BA;
  }
}

@media (min-width: 992px) {
  .oriented {
    padding-top: 59px;
    display: grid;
    grid-template-columns: 439px auto;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .oriented__buttons {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 60px 13px 0;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .oriented__btn {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .oriented__btn:last-child {
    margin-bottom: 0;
  }
  .oriented__info {
    border-top: none;
    padding-left: 60px;
  }
  .oriented__title {
    padding-top: 0;
  }
}

.team {
  padding-top: 50px;
}

.team__item {
  background: #F5F5FA;
  border-radius: 12px;
}

.team__img {
  height: 500px;
  border-radius: 12px 12px 0px 0px;
}

.team__frame {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.team__info {
  padding: 30px;
}

.team__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: none;
  text-decoration: none;
  padding-top: 5px;
}

.team__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  padding-top: 31px;
  padding-right: 12px;
  letter-spacing: 0.07em;
}

.team__job {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  padding-top: 6px;
  letter-spacing: 0.09em;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}

.team__link:hover {
  font-size: 50px;
  color: #000000;
}

.team__link:hover svg path {
  stroke: #000000;
}

.team__link:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__arrow svg {
  display: block;
}

.team__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.team__btn {
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.team__btn svg {
  display: block;
}

.team__btn svg:hover circle {
  opacity: 0.6;
}

.team__btn.current svg circle {
  opacity: 1;
}

@media (min-width: 768px) {
  .team {
    padding-top: 80px;
  }
  .team__text {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding-top: 6px;
    letter-spacing: 0.06em;
  }
  .team__dots {
    padding-top: 27px;
  }
}

@media (min-width: 992px) {
  .team {
    padding-top: 79px;
  }
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__frame {
    height: 100%;
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px 0px 0px 12px;
  }
  .team__img {
    height: auto;
  }
  .team__text {
    letter-spacing: 0.06em;
  }
  .team__dots {
    padding-top: 29px;
  }
}

@media (min-width: 1418px) {
  .team__frame {
    height: 344px;
  }
  .team__dots {
    padding-top: 28px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  margin: 0 -15px;
}

.header__bg {
  padding-right: -15px;
  padding-left: -15px;
  background-color: rgba(245, 245, 250, 0.2);
}

.header__line {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(245, 245, 250, 0.2);
}

.header__address {
  display: none;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  position: relative;
  margin-left: 18px;
}

.header__address::before {
  content: '';
  background-image: url(../img/header-dot.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -12px;
  top: 7px;
  width: 6px;
  height: 6px;
}

.header__address::after {
  content: '';
  background-image: url(../img/header-dot.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -11px;
  top: 7px;
  width: 6px;
  height: 6px;
}

.header__address--home {
  color: #FFFFFF;
}

.header__fb {
  display: none;
  position: relative;
  margin-left: 18px;
}

.header__fb::before {
  content: '';
  background-image: url(../img/header-dot.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -12px;
  top: 10px;
  width: 6px;
  height: 6px;
}

.header__icon:hover path {
  fill: #F0145A;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
  text-transform: none;
  text-decoration: none;
  position: relative;
  margin-left: 18px;
}

.header__phone--home {
  color: #FFFFFF;
}

.header__logobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
}

.header__logo img {
  width: 69px;
  height: auto;
}

.header__text {
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  text-transform: none;
  text-decoration: none;
  padding-left: 20px;
  position: relative;
}

.header__text::before {
  content: '';
  background-image: url(../img/slash.svg);
  background-repeat: no-repeat;
  background-size: 12px 26px;
  position: absolute;
  left: 4px;
  top: 0;
  width: 12px;
  height: 26px;
}

.header__text::before img {
  display: block;
}

.header__text--home {
  color: #FFFFFF;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #B3B3BA;
  padding: 5px 8px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__lang--home a {
  color: #FFFFFF;
}

.header__lang a:hover {
  background: #F5F5FA;
}

.header__lang--home a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header__lang a.current {
  color: #FFFFFF;
  background: #F0145A;
}

.header__btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../img/hamburger.svg);
  width: 32px;
  height: 32px;
}

.header__btn--home {
  background-image: url(../img/hamburger-home.svg);
}

.header__menu {
  padding-top: 13px;
}

.header__item {
  display: none;
  background-color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  padding: 12px 12px 0 12px;
  width: 360px;
  position: absolute;
  right: 0;
  top: 46px;
}

.header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__button {
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  background-image: url(../img/header-cross.svg);
  margin-bottom: 20px;
}

.header__list {
  list-style: none;
  padding: 0;
}

.header__list li {
  margin-bottom: 15px;
}

.header__list a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24A3FF;
  text-decoration: none;
  text-transform: none;
  padding: 7px;
  background: #F5F5FA;
  border-radius: 12px;
  display: block;
}

.header__list a:active {
  background: #E6E6F0;
}

.header__list a.current {
  color: #F0145A;
}

@media (min-width: 768px) {
  .header {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
  .header__line {
    grid-column: 1 / -1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }
  .header__address {
    display: block;
    margin-left: 16px;
  }
  .header__phone {
    margin-left: 22px;
  }
  .header__fb {
    display: block;
  }
  .header__logobox {
    padding-top: 28px;
    padding-bottom: 13px;
  }
  .header__logo img {
    width: 130px;
  }
  .header__text {
    padding-left: 29px;
    font-size: 36px;
    line-height: 44px;
  }
  .header__text::before {
    background-image: url(../img/slash.svg);
    background-size: 21px 47px;
    width: 21px;
    height: 47px;
  }
  .header__btn {
    display: none;
  }
  .header__item {
    display: block;
    position: static;
    width: auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .header__switch {
    display: none;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list li {
    margin-bottom: 0;
    margin-right: 16px;
  }
  .header__list li:last-child {
    margin-right: 0;
  }
  .header__list a {
    padding: 0;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  .header__list--home a {
    color: #FFFFFF;
  }
  .header__list a:hover {
    border-color: #24A3FF;
  }
  .header__list--home a:hover {
    border-color: #FFFFFF;
  }
  .header__list a.current {
    color: #F0145A;
    border-color: #F0145A;
  }
}

@media (min-width: 992px) {
  .header {
    grid-template-columns: auto 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header__logobox {
    grid-row: 1 / -1;
    padding-top: 51px;
    padding-bottom: 0;
  }
  .header__line {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 0;
  }
  .header__menu {
    justify-self: end;
    padding-top: 14px;
  }
  .header__phone {
    margin-left: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
