$purple: #800080;

$basic-black: #000000;
$basic-white: #FFFFFF;

$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$info: rgba(255, 255, 255, 0.3);
$info-02: rgba(255, 255, 255, 0.2);
$people: rgba(40, 40, 86, 0.8);

$accent: #F0145A;
$accent-05: rgba(240, 20, 90, 0.5);


$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;

$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$after: #CACADB;
$before: #E7E7F2;

$gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

$bg-01: #1C4280;
$bg-02: #143646;
$bg-03: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
$bg-04: #9E4DC3;
$bg-05: #FD9339;
$bg-06: #E2E2E4;
$bg-07: #C71C36;
$bg-08: #DCF3F9;
$bg-09: #EAEAEA;
$bg-10: #282240;
$bg-11: #1D4568;
$bg-12: #000000;

$team: #a489b2;
$header-bg: rgba(245, 245, 250, 0.2);

